* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: normal;
    font-size: 13px;
}

window#waybar {
    border-radius: 2.5px;
    color: white;
    background-color: rgba(93,102,115,0.3);
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button:hover {
    background: rgba(93,102,115,0.5);
    color: silver;
}

#workspaces button.focused, #workspaces button.active {
    background: rgba(93,102,115,0.7);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules {
    transition-property: background-color;
    transition-duration: .5s;
}

#clock {
    padding: 0 10px;
    border-radius: 20;
}

#custom-notification,
#pulseaudio,
#network,
#battery {
    padding: 0 10px;
    border-radius: 2.5px;
}

#custom-notification:hover,
#pulseaudio:hover,
#clock:hover,
#network:hover,
#battery:hover {
  background-color: rgba(0,0,0,0.2);
}
